<!-- footer  -->
<div id="section5">
  <div class="sidebar-footer ifooter">
    <div class="row mt61px">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt6 tcenter">
          Let’s connect
        </h4>
      </div>
    </div>

    <div class="row mt40px">
      <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/linkedin.svg" class="img-responsive">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/mail.svg" class="img-responsive">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/call.svg" class="img-responsive">
        </div>
        <!-- <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/instagram.svg" class="img-responsive">
        </div> -->
      </div>
    </div>

    <div class="row mt50px pb55px">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt7 tcenter">
          Copyright 2021 | Pratik Mangtani
        </h4>
      </div>
    </div>
  </div>
</div>
<!-- /footer -->