<!-- footer  -->
<div id="section5">
  <div class="sidebar-footer ifooter">
    <div class="row mt61px">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt6 tcenter">
          Let’s connect
        </h4>
      </div>
    </div>

    <div class="row mt40px">
      <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/icons/linkedin.svg" class="img-responsive"> -->
          <a class="fa_icons_connect" tabindex="0" target="_blank" href="https:/www.linkedin.com/in/pratikmangtani">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/icons/mail.svg" class="img-responsive"> -->
          <a class="fa_icons_connect" tabindex="0" target="_blank" href="mailto:mpratik@umich.edu">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/icons/call.svg" class="img-responsive"> -->
          <a class="fa_icons_connect" tabindex="0" target="_blank" href="tel:+17348818308">
            <i class="fa fa-phone"></i>
          </a>
        </div>
        <!-- <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/instagram.svg" class="img-responsive">
        </div> -->
      </div>
    </div>

    <div class="row mt50px pb55px">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt7 tcenter">
          Copyright 2021 | Pratik Mangtani
        </h4>
      </div>
    </div>
  </div>
</div>
<!-- /footer -->

<!-- back to top button -->
<a href="javascript:" id="back_to_top">
  <i class="fa fa-chevron-up"></i>
</a>
<!-- /back to top button -->