<!-- top navigation -->
<app-top-nav></app-top-nav>
<!-- /top navigation -->

<!-- onscroll div 02 -->
<app-side-nav-b></app-side-nav-b>
<!-- /onscroll div 02  -->

<!-- page content -->
<div class="right_col ml0 bg_purple" role="main">
  <!-- Class -->
  <div class="cw100p">
    <div class="row">
      <div _ngcontent-ehe-c137="" class="col-md-12 col-sm-12 col-xs-12 center_flex">
        <div class="col-md-10 col-sm-9 col-xs-12 p0">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>

                <!-- carousel -->
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <section class="carousel-fixed-height">
                      <div id="carousel_01" class="carousel slide" data-ride="carousel" data-interval="3000000">
                        <div class="carousel-inner ci_02" role="listbox">
                          <div class="item active">
                            <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <video controls  class="mw100p" poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_02.svg" controlsList="nodownload">                                                
                                  <source src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/videos/introduction_to_hwp.mp4" type="video/mp4">                                              
                                </video>
                              </div>
                            </div>
                          </div>
                          <div class="item">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_01.svg" class="img-responsive">
                          </div>
                        </div>
                        <a class="left carousel-control" href="#carousel_01" role="button" data-slide="prev">
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel_01" role="button" data-slide="next">
                          <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators">
                          <li data-target="#carousel_01" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel_01" data-slide-to="1" class="mli_01"></li>
                        </ol>
                      </div>
                    </section>

                  </div>
                </div>
                <!-- /carousel -->

                <!-- <div class="row center_flex mtb50px">
                  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                    <a>
                      <button type="button" class="btn btn-default btn_hwp_link_website">
                        Link to the website
                      </button>
                    </a>
                  </div>
                </div> -->

                <!-- human wisdom program -->
                <div class="row center_flex section_title_01a">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4a">
                      Human Wisdom Program 
                    </h4>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt7">
                      UX Design | UX Research | Development
                    </h4>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt6 section_desc_04">
                      An online course that provides a road map for everyone to explore and understand themselves more deeply.
                    </h4>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h4 class="txt6 mb23px">
                        Roles and Responsibilities
                      </h4>
                      
                      <h4 class="txt7 mb15px">
                        User Research: User Interviews, Competetive Analysis, Journey Mapping
                      </h4>

                      <h4 class="txt7 mb15px">
                        UX Design: Sketches, Wireframes, High fidelity prototype.
                      </h4>

                      <h4 class="txt7">
                        Development: PWA for users and web app for admin, database optimization. 
                      </h4>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h4 class="txt6 mb23px">
                        Project Context
                      </h4>

                      <h4 class="txt7 mb15px">
                        Aug 2020 - Sept 2021
                      </h4>

                      <h4 class="txt7">
                        Team: Dr Manoj Krishna, Mahesh Ramanathan, Pratik Mangtani, Nidhi Singhvi, Sana Sayyed
                      </h4>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h4 class="txt6 mb23px">
                        Tools Used
                      </h4>

                      <h4 class="txt7">
                        Figma <br>
                        Angular, HTML, CSS <br>
                        MySQL <br>
                        MySQL <br>
                        Lucid Charts, Asana <br>
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /human wisdom program -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- background -->
                <div id="section18">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Background 
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mtb_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_03.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row img_mb_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <h4 class="txt9 mtb0px">
                        Understanding Me, Understanding You - Dr Manoj Krishna
                      </h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 section_desc_03">
                        Dr Manoj Krishna is author of, “Understanding Me, Understanding You - an enquiry to be human, and Understanding and Managing Stress”. He aims  to scale the benefits of wisdom through a structured online application.
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mtb_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_30.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row img_mb_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <h4 class="txt9 mtb0px">
                        Initial Course Content on Articulate
                      </h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        The Human WIsdom Program was created on Articulate slides. The initial requirement of the client was to improve navigation between different sections and development of a portal through which the content can be modified. 
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /background -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- overview -->
                <div id="section17">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Overview 
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb10px mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Problem
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        The learning material on Articulate was unstructured. The content was repetitive, the slides were not interactive and the navigation from one module to the other was difficult. The goal of this project was to design and develop an interactive E-Learning application through which learners could easily navigate between modules and track their progress. 
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb10px mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Key Features
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        The learning application has the following key features.
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mtb_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_31.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row img_mb_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <h4 class="txt9 mtb0px">
                        Brochure of The Human Wisdom Program containing key features of the learning program.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Product Highlight
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mtb_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_32.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <h4 class="txt9 mtb0px">
                        Play the above video for a brief overview of The Human Wisdom Program
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /overview -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- design process -->
                <div id="section16">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Design Process
                      </h4>
                    </div>
                  </div>
  
                  <div class="row center_flex mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        I followed the double diamond design process for this project. We divided the design process in three categories followed by development. We designed the database parallely to accommodate the requirements of the client.  
                      </h4>
                    </div>
                  </div>
  
                  <div class="row img_mtb_03">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_33.svg" class="img-responsive">
                    </div>
                  </div>
                </div>
                <!-- /design process -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- competitive analysis -->
                <div id="section15">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Competitive Analysis
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        <p>
                          After going through the content on Articulate,  I identified some problems. 
                        </p>
                        <p class="mb0pxi">
                          I carried out competitive analysis with other E-Learning applications to better understand the problem space. I prepared a competitive analysis document for the stakeholder interview. 
                        </p>
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mtb_02 center_flex">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 center_flex">
                      <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_34.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row mb0px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <h4 class="txt9 mtb0px">
                        Comparison of functionality with competitors
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /competitive analysis -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- user interview -->
                <div id="section14">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        User Interview
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        I interviewed Dr Manoj Krishna to better understand his vision of the learning application. We conducted 3 interviews with Dr Krishna. Following are some questions that I prepared for the interview:
                      </h4>

                      <h4 class="txt7 mt20px">
                        1. What is your vision behind the learning program?
                      </h4>
                      <h4 class="txt7">
                        2. What impact would you like the course to leave on learners?
                      </h4>
                      <h4 class="txt7">
                        3. Who will be the users of the application?
                      </h4>
                      <h4 class="txt7">
                        4. What expectations do you have from the program?
                      </h4>
                      <h4 class="txt7">
                        5. What is the problem with the current system on Articulate?
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /user interview -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- affinity mapping  -->
                <div id="section13">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Affinity Mapping
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        In order to consolidate all the data we created an affinity map to better understand the problem space, key stakeholders and users’ requirements.
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mtb_02 center_flex">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 center_flex">
                      <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_35.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row mb0px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <h4 class="txt9 mtb0px">
                        A snapshot of the affinity map we created for data analysis
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /affinity mapping -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- data findings -->
                <div id="section12">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Data Findings
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb10px mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Stakeholders
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        Key stakeholders of the application would be Learners, Admin and Certified Coaches.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb10px mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        User Needs
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        From the interviews we understood the following needs:
                      </h4>

                      <h4 class="txt7 mt10px">
                        1. The client required a design that could allow them to modify the content of the learning application.
                      </h4>
                      <h4 class="txt7">
                        2. The solution should be built such that it could be scaled up to for future modifications.  
                      </h4>
                      <h4 class="txt7">
                        3. The content of the learning application should be structured for easier navigation between modules. 
                      </h4>
                      <h4 class="txt7">
                        4.  A discussion forum for learners to interact with each other and discuss mental health issues. 
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb10px mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Supporting quotes
                      </h4>
                    </div>
                  </div>

                  <div class="row mt20px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_06.svg" class="img-responsive">
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_07.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /data findings -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- problem definition  -->
                <div id="section11">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Problem Definition
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        <p>
                          Based on our interviews, and insights, we decided that our application would address three problems:
                        </p>
                        <p class="mb0pxi">
                          To structure the content and make the application more interactive
                        </p>
                        <p class="mb0pxi">
                          To connect learners with each other.
                        </p>
                        <p class="">
                          To allow ease of navigation between different modules. 
                        </p>
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_04">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                      <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_36.svg" class="img-responsive">
                    </div>
                  </div>
                </div>
                <!-- /problem definition -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- ideation -->
                <div id="section10">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Ideation
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 section_desc_02">
                        Based on user interviews, I decided to combine features of E-learning and streaming applications. This would enable users to engage with the learning program, track their progress and the navigation experience would give them an experience of using a digital streaming service. Below are some advantages of E-learning apps and streaming apps.  
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt30px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        E-learning app features: 
                      </h4>

                      <h4 class="txt7 mt15px">
                        1. Progress Tracking
                      </h4>
                      <h4 class="txt7">
                        2. Interaction with peers
                      </h4>
                      <h4 class="txt7">
                        3. Interactive course content with assessments.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt30px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        Streaming app features:
                      </h4>

                      <h4 class="txt7 mt15px">
                        1. Familiar card layout that from popular streaming apps like Netflix and Youtube.
                      </h4>
                      <h4 class="txt7">
                        2. Positive transfer of training if users start using HWP.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex img_mtb_02">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_08.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row mb0px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <h4 class="txt9 mtb0px">
                        Combined advantages of E-Learning and Streaming application for Human Wisdom Program
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /ideations -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- sketches -->
                <div id="section9">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Sketches
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex img_mtb_02">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 tcenter">
                      <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_37.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row mb0px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <h4 class="txt9 mtb0px">
                        A snapshot of sketches for the Dasboard and course screens.
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /sketches -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- wireframes -->
                <div id="section8">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Wireframes
                      </h4>
                    </div>
                  </div>

                  <!-- carousel -->
                  <div class="row mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                      <section class="carousel-fixed-height">
                        <div id="carousel_02" class="carousel slide" data-ride="carousel" data-interval="3000000">
                          <div class="carousel-inner ci_02" role="listbox">
                            <div class="item active">
                              <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_38.svg" class="img-responsive">

                              <div class="row mb0px mt50px">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                                  <h4 class="txt9 mtb0px">
                                    A snapshot of developed wireframes for course screens
                                  </h4>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_39.svg" class="img-responsive">

                              <div class="row mb0px mt50px">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                                  <h4 class="txt9 mtb0px">
                                    A snapshot of the dashboard wireframe
                                  </h4>
                                </div>
                              </div>
                            </div>
                          </div>
                          <a class="left carousel-control" href="#carousel_02" role="button" data-slide="prev">
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel_02" role="button" data-slide="next">
                            <span class="sr-only">Next</span>
                          </a>
                          <ol class="carousel-indicators">
                            <li data-target="#carousel_02" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel_02" data-slide-to="1" class="mli"></li>
                          </ol>
                        </div>
                      </section>

                    </div>
                  </div>
                  <!-- /carousel -->
                </div>
                <!-- /wireframes -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- feedback from wireframes -->
                <div id="section7">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Feedback from wireframes
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_ai">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img_mb_01 center_flex">
                          <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_40.svg" class="img-responsive w100p">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt6">
                            Modification
                          </h4>
                          <h4 class="txt7 justify">
                            In order to reduce redundancy, I removed the progress charts of individual sections, and maintained a tracker for individual modules through respective cards. 
                          </h4>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_41.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_ai">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_42.svg" class="img-responsive">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img_mb_01 center_flex">
                          <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_43.svg" class="img-responsive w100p">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt6">
                            Modification
                          </h4>
                          <h4 class="txt7 justify">
                            We introduced a profile page, where users could check detailed information about their scores and progress.
                            <br><br>
                            This screen would link to other screens showing results of different assessments attempted by users. 
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_ai">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img_mb_01 center_flex">
                          <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_44.svg" class="img-responsive w100p">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt6">
                            Modification
                          </h4>
                          <h4 class="txt7 justify">
                            We built a screen for bookmarks where snapshots of bookmarked screens would appear. These bookmarks would take users to the screens that they had marked as favourites. 
                          </h4>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_45.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /feedback from wireframes -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- high fidelity screens -->
                <div id="section6">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        High Fidelity Screens
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt45px">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 tcenter">
                      <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_49.svg" class="img-responsive">
                    </div>
                  </div>
                </div>
                <!-- /high fidelity screens -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- final prototyping -->
                <div id="section5">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Final Prototype
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_ai">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt6">
                            Dashboard and General Overview:
                          </h4>
                          <h4 class="txt7 justify">
                            Play the video to view features of the learning application and the dashboard layout.
                          </h4>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_46.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_ai">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt6">
                            Course Screens:
                          </h4>
                          <h4 class="txt7 justify">
                            <p class="">
                              Play the video to view different course screens. 
                            </p>
                            <p class="">
                              The following functionalities are covered in the video.
                            </p>
                            <p class="">
                              1. Learner Dashboard
                            </p>
                            <p class="">
                              2. Course Screens 
                            </p>
                            <p class="">
                              3. Reflections
                            </p>
                            <p class="">
                              4. Journal
                            </p>
                            <p class="">
                              5. Wisdom Stories 
                            </p>
                            <p class="">
                              6. Bookmarks 
                            </p>
                            <p class="">
                              7. Podcasts
                            </p>
                          </h4>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <video controls  class="mw55p" controlsList="nodownload">                                                
                          <source src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/videos/final_prototype_course_screens.mp4" type="video/mp4">                                              
                        </video>
                      </div>
                    </div>
                  </div>

                  <div class="row center_flex mb20px mt100px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        I developed a Progressive Web Application using Angular and Ionic. Click the link below to experience The Human Wisdom Program. 
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <a href="https://humanwisdom.me/course/#/adults/adult-dashboard">
                        <button type="button" class="btn btn-default btn_hwp_link_website">
                          Link to the website
                        </button>
                      </a>
                    </div>
                  </div>
                  
                </div>
                <!-- /final prototyping -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- survey  -->
                <div id="section4">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Survey
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt45px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6 section_desc_03">
                        Feedback survey for Data Collection from Users
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        I designed a feedback survey to collect data from users. Results of the survey combined with analytics would be used to improve user experience. The survey was based on their experience with the learning material and how their mental health has improved over thr course of the learning program.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mtb50px">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 tcenter">
                      <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_47.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Wisdom Survey Report
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 section_desc_02">
                        The wisdom survey is available for users on the learning application. I designed a report to analyze results of wisdom surveys to gauge the impact of the Human Wisdom Program on people.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt50px">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 center_flex">
                      <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/hwp_48.svg" class="img-responsive">
                    </div>
                  </div>
                </div>
                <!-- /survey -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- feedback -->
                <div id="section3">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Feedback
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img_mb_01 center_flex">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_19.svg" class="img-responsive w100p">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt7 justify">
                            For progress tracking, we introduced a progress bar at the top. The development of this tracker was challenging because our database did not accommodate sessions to manage page-wise progress. Implementation of the this feature was time-consuming because a collection of pages i.e sessions had to stored in the database.
                          </h4>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_20.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_21.svg" class="img-responsive">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img_mb_01 center_flex">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_22.svg" class="img-responsive w100p">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt7 justify">
                            We introduced a share icon on each screen.  Shared screens can be viewed for free by recepients. We decided to have this feature to raise awareness about the program.  This feature led us to define access rules for subscribers and non subscribers.
                            <br><br>
                            Note: This is covered in the marketing case study of HWP.
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img_mb_01 center_flex">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_23.svg" class="img-responsive w100p">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt7 justify">
                            We introduced an introduction module for users to get acquainted with the application. This module included different features of the application and guidelines for users to enagage with HWP. 
                          </h4>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <video controls  class="mw100p" poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_24.svg" controlsList="nodownload">                                                
                          <source src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/videos/user_guide.mov" type="video/mp4">                                              
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /feedback -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- future modifications -->
                <div id="section2">
                  <div class="row center_flex mb30px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Future Modifications
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Building the Human Wisdom Community
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex section_desc_05">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        We decided to build a community of learners and coaches. We achieved this with a discussion forum where users would interact with each other and discuss issues about mental health. We also developed a coaching program through which users could get in touch with psychologists to seek help. Onboarding coaches from all over the world is a future modification. 
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Module Suggestions based on users’ choices
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex section_desc_05">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        Pointing users to resources and personalizing their experiences is a future modification. Introducing machine learning to the system for recommendations is a future goal.
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /future modifications -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- takeaway -->
                <div id="section1">
                  <div class="row center_flex mb30px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt10">
                        Takeaway
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Tradeoffs between technical requirements, design decisions and financial resources.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex section_desc_05">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        We had limited financial resources. I was the lead UX Engineer and every design decision had to go through multiple discussions regarding feasibility of implementation. This was an immense learning experience for me. II dealt with multiple iterations of features that involved changes to optimize the database, webservices and software.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Strategic Design
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex section_desc_05">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        My background in Computer Science played a major role in taking design decisions. I was responsible for designing screens where I considered the feasibility of development. I collaborated with the product manager to estimate time and efforts required to implement designs. These designs were then handed over to our visual designer.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Comfort with ambiguity
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        There were multiple instances where we were uncertain about design and implementation. It was tempting to design and develop all features with utmost precision. However, due to limited time and resources, we had to deliver at a fast pace. My team and I decided to start low and invest on features according to  users’ feedback.
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /takeaway -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- in the press -->
                <div class="row center_flex mb31px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4a">
                      In the Press
                    </h4>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="https://www.einpresswire.com/article/556466418/the-humanwisdom-app-could-reduce-stress-and-address-the-root-cause-of-climate-change" target="_blank">
                      <h4 class="txt7 underline">
                        THE HUMANWISDOM APP COULD REDUCE STRESS AND ADDRESS THE ROOT CAUSE OF CLIMATE CHANGE - EIN Presswire
                      </h4>
                    </a>
                  </div>
                </div>
                <!-- /in the press -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <div class="pagebreak"></div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-nav></app-bottom-nav>
<!-- /footer -->