<!-- top navigation -->
<app-top-nav></app-top-nav>
<!-- /top navigation -->

<!-- onscroll div 02 -->
<app-side-nav-b></app-side-nav-b>
<!-- /onscroll div 02  -->

<!-- page content -->
<div class="right_col ml0 bg_purple" role="main">
  <!-- Class -->
  <div class="cw100p">
    <div class="row">
      <div _ngcontent-ehe-c137="" class="col-md-12 col-sm-12 col-xs-12 center_flex">
        <div class="col-md-10 col-sm-9 col-xs-12 p0">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>

                <!-- carousel -->
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <section class="carousel-fixed-height">
                      <div id="carousel_01" class="carousel slide" data-ride="carousel" data-interval="3000000">
                        <div class="carousel-inner ci_02" role="listbox">
                          <div class="item active">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_01.svg" class="img-responsive">
                          </div>
                          <div class="item">
                            <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <video controls  class="mw100p" poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_02.svg" controlsList="nodownload">                                                
                                  <source src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/videos/introduction_to_hwp.mp4" type="video/mp4">                                              
                                </video>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a class="left carousel-control" href="#carousel_01" role="button" data-slide="prev">
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel_01" role="button" data-slide="next">
                          <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators">
                          <li data-target="#carousel_01" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel_01" data-slide-to="1" class="mli_01"></li>
                        </ol>
                      </div>
                    </section>

                  </div>
                </div>
                <!-- /carousel -->

                <!-- <div class="row center_flex mtb50px">
                  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                    <a>
                      <button type="button" class="btn btn-default btn_hwp_link_website">
                        Link to the website
                      </button>
                    </a>
                  </div>
                </div> -->

                <!-- human wisdom program -->
                <div class="row center_flex section_title_01a">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4a">
                      Human Wisdom Program 
                    </h4>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt7">
                      UX Design | UX Research | Development
                    </h4>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt6 section_desc_04">
                      An online course that provides a road map for everyone to explore and understand themselves more deeply.
                    </h4>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h4 class="txt6 mb23px">
                        Roles and Responsibilities
                      </h4>
                      
                      <h4 class="txt7 mb15px">
                        User Research: User Interviews, Competetive Analysis, Journey Mapping
                      </h4>

                      <h4 class="txt7 mb15px">
                        UX Design: Sketches, Wireframes, High fidelity prototype.
                      </h4>

                      <h4 class="txt7">
                        Development: PWA for users and web app for admin, database optimization. 
                      </h4>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h4 class="txt6 mb23px">
                        Project Context
                      </h4>

                      <h4 class="txt7 mb15px">
                        Aug 2020 - Sept 2021
                      </h4>

                      <h4 class="txt7">
                        Team: Dr Manoj Krishna, Mahesh Ramanathan, Pratik Mangtani, Nidhi Singhvi, Sana Sayyed
                      </h4>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h4 class="txt6 mb23px">
                        Tools Used
                      </h4>

                      <h4 class="txt7">
                        Figma <br>
                        Angular <br>
                        HTML, CSS <br>
                        MySQL <br>
                        Lucid Charts <br>
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /human wisdom program -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- overview -->
                <div id="section12">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4a">
                        Overview 
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mtb_01">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_03.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row mt18px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 section_desc_03">
                        Dr Manoj Krishna is author of, “Understanding Me, Understanding You - an enquiry to be human, and Understanding and Managing Stress”. He aims  to scale the benefits of wisdom through a structured online application.
                      </h4>

                      <h4 class="txt7 section_desc_03">
                        The Human Wisdom Program (HWP) is an e learning platform that helps people discover themselves so they can be happy and live with a sense of peace.
                      </h4>

                      <h4 class="txt7">
                        Through this program, we are trying to help people cope up with their problems by empowering them to use self-awareness for solving their problems. 
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /overview -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- problem -->
                <div id="section11">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4a">
                        Problem 
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 section_desc_02">
                        Dr Manoj Krishna approached us with his book and some course slides on Articulate. The course revolved around,”Five Circles of Wisdom”. There was no structure to the learning material. Dr Krishna wanted a structured and interactive E-learning application that would guide users through the central concept of the five circles of wisdom. 
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_04.svg" class="img-responsive">
                    </div>
                  </div>
                </div>
                <!-- /problem -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- design process -->
                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4a">
                      Design Process
                    </h4>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt7 section_desc_04">
                      I went through the course content on Articulate and read the book to better undertsand the requirements of the stakeholder. I interviewed the founder, Dr Manoj Krishna along with the Chief Technology Officer. Following are some questions that I prepared for the interview:
                    </h4>
                    <h4 class="txt7 section_desc_03">
                      1. What is your vision behind the learning program?
                    </h4>
                    <h4 class="txt7">
                      2. What impact would you like the course to leave on learners?
                    </h4>
                  </div>
                </div>

                <div class="row img_mt_02">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_05.svg" class="img-responsive">
                  </div>
                </div>
                <!-- /design process -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- user interview -->
                <div id="section10">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4a">
                        User Interview
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 section_desc_02">
                        The CTO and I interviewed Dr Manoj Krishna to better understand his vision of the learning application. These intervies gave me an idea of something I could work with for the User Experience
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_06.svg" class="img-responsive">
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_07.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /user interview -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- insights from interviews -->
                <div id="section9">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4a">
                        Insights from Interviews
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex section_desc_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 section_desc_02">
                        Based on user interviews, I decided to combine features of E-learning and streaming applications. This would wnable users to engage with the learning program, track their progress and the navigation experience would give them an experience of using a digital streaming service. 
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mt_02 center_flex">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_08.svg" class="img-responsive">
                    </div>
                  </div>
                </div>
                <!-- /insights from interviews -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- competitive analysis -->
                <div id="section8">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4a">
                        Competitive Analysis
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 section_desc_02">
                        I decided to  carry out competitive analysis with e-learning and streaming applications for inspiration for HWP.
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mt_02 center_flex">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 center_flex">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_09.svg" class="img-responsive">
                    </div>
                  </div>
                </div>
                <!-- /competitive analysis -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- features -->
                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4a">
                      Features
                    </h4>
                  </div>
                </div>

                <div class="row center_flex mt20px mb47px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt7 section_desc_02">
                      Based on my research, I decided to design a dashboard that would cover the content. We divided the learning material into modules and sections. The dashboard would allow users to easily navigate from one module to another. 
                    </h4>
                  </div>
                </div>

                <div class="row img_mtb_01 center_flex">
                  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 center_flex">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_10.svg" class="img-responsive">
                  </div>
                </div>

                <div class="row center_flex mb30px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt7">
                      To make the learning program more interactive, we included the following features in the application.
                    </h4>
                  </div>
                </div>

                <div class="row img_mt_02 center_flex">
                  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 center_flex">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_11.svg" class="img-responsive">
                  </div>
                </div>
                <!-- /features -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- sketches -->
                <div id="section7">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4a">
                        Sketches
                      </h4>
                    </div>
                  </div>

                  <!-- carousel -->
                  <div class="row img_mtb_01">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                      <section class="carousel-fixed-height">
                        <div id="carousel_02" class="carousel slide" data-ride="carousel" data-interval="3000000">
                          <div class="carousel-inner ci_02" role="listbox">
                            <div class="item active">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_12.svg" class="img-responsive">
                            </div>
                            <div class="item">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_13.svg" class="img-responsive">
                            </div>
                            <div class="item">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_14.svg" class="img-responsive">
                            </div>
                            <div class="item">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_15.svg" class="img-responsive">
                            </div>
                          </div>
                          <a class="left carousel-control" href="#carousel_02" role="button" data-slide="prev">
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel_02" role="button" data-slide="next">
                            <span class="sr-only">Next</span>
                          </a>
                          <ol class="carousel-indicators">
                            <li data-target="#carousel_02" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel_02" data-slide-to="1" class="mli"></li>
                            <li data-target="#carousel_02" data-slide-to="2" class=""></li>
                            <li data-target="#carousel_02" data-slide-to="3" class="mli_01"></li>
                          </ol>
                        </div>
                      </section>

                    </div>
                  </div>
                  <!-- /carousel -->
                </div>
                <!-- /sketches -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- wireframes -->
                <div id="section6">
                  <div class="row center_flex mb30px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4a">
                        Wireframes
                      </h4>
                    </div>
                  </div>

                  <!-- carousel -->
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                      <section class="carousel-fixed-height">
                        <div id="carousel_03" class="carousel slide" data-ride="carousel" data-interval="3000000">
                          <div class="carousel-inner ci_02" role="listbox">
                            <div class="item active">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_16.svg" class="img-responsive">
                            </div>
                            <div class="item">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_17.svg" class="img-responsive">
                            </div>
                            <div class="item">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_18.svg" class="img-responsive">
                            </div>
                          </div>
                          <a class="left carousel-control" href="#carousel_03" role="button" data-slide="prev">
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel_03" role="button" data-slide="next">
                            <span class="sr-only">Next</span>
                          </a>
                          <ol class="carousel-indicators">
                            <li data-target="#carousel_03" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel_03" data-slide-to="1" class="mli"></li>
                            <li data-target="#carousel_03" data-slide-to="2" class=""></li>
                          </ol>
                        </div>
                      </section>

                    </div>
                  </div>
                  <!-- /carousel -->
                </div>
                <!-- /wireframes -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- feedback -->
                <div id="section5">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4a">
                        Feedback
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img_mb_01 center_flex">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_19.svg" class="img-responsive w100p">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt7 justify">
                            For progress tracking, we introduced a progress bar at the top. The development of this tracker was challenging because our database did not accommodate sessions to manage page-wise progress. Implementation of the this feature was time-consuming because a collection of pages i.e sessions had to stored in the database.
                          </h4>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_20.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_21.svg" class="img-responsive">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img_mb_01 center_flex">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_22.svg" class="img-responsive w100p">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt7 justify">
                            We introduced a share icon on each screen.  Shared screens can be viewed for free by recepients. We decided to have this feature to raise awareness about the program.  This feature led us to define access rules for subscribers and non subscribers.
                            <br><br>
                            Note: This is covered in the marketing case study of HWP.
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row center_flex img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img_mb_01 center_flex">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_23.svg" class="img-responsive w100p">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt7 justify">
                            We introduced an introduction module for users to get acquainted with the application. This module included different features of the application and guidelines for users to enagage with HWP. 
                          </h4>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px center_flex">
                        <video controls  class="mw100p" poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_24.svg" controlsList="nodownload">                                                
                          <source src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/videos/user_guide.mov" type="video/mp4">                                              
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /feedback -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- solution -->
                <div id="section4">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 dflexblock">
                      <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
                        <h4 class="txt4a">
                          Solution
                        </h4>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 tright">
                        <a href="https://humanwisdom.me/course/#/adults/adult-dashboard">
                          <button type="button" class="btn btn-default btn_hwp_link_website">
                            Link to the website
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row img_mt_02">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <video controls  class="mw100p" poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_25.svg" controlsList="nodownload">
                        <source src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/program_guide/videos/1.1.mp4" type="video/mp4"> 
                      </video>
                    </div>
                  </div>
                </div>
                <!-- /solution -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- development -->
                <div id="section3">
                  <div class="row center_flex mb68px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4a">
                        Development
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Database design
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 section_desc_02">
                        Based on our research, list of features and dashboard design, we designed a database. This database was implemented in MySql. We implemented our own Learning Management System for the Human Wisdom Program. This was an iterative process because we had to ensure that the design was scalable and avoided redundant storage of data.
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mtb_01 center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_26.svg" class="img-responsive w100p">
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Admin Module
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 section_desc_02">
                        The application has many stakeholders: Super admin, admin, moderator of the discussion forum, content manager, program affiliate. I designed a developed screens for the admin module to manage data on the course. We prepared screens for CRUD operations, reports, pricing, approval of posts. Access to screens based on roles was controlled using Typescript. 
                      </h4>
                    </div>
                  </div>

                  <div class="row img_mt_02 center_flex">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                      <video controls  class="mw100p" poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_27.svg" controlsList="nodownload">                                                
                        <source src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/videos/admin_module.mov" type="video/mp4">                                              
                      </video>
                    </div>
                  </div>
                </div>
                <!-- /development -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- reports -->
                <div id="section2">
                  <div class="row center_flex mb68px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4a">
                        Reports
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt50px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6 section_desc_03">
                        Feedback survey report
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        We desgined a feedback survey for users after each module. Results of the feedback survey would help us improve the quality of content. I designed the feedback survey report for the admin module based on selections of users. 
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_28.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Wisdom Survey Report
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 section_desc_02">
                        The wisdom survey is available for users on the learning application. I designed a report to analyze results of wisdom surveys to gauge the impact of the Human Wisdom Program on people.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 center_flex">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/hwp_29.svg" class="img-responsive">
                    </div>
                  </div>
                </div>
                <!-- /reports -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_06">
                  </div>
                </div>

                <!-- takeaway -->
                <div id="section1">
                  <div class="row center_flex mb30px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4a">
                        Takeaway
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Tradeoffs between technical requirements, design decisions and financial resources.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex section_desc_05">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        We had limited financial resources. I was the lead UX Engineer and every design decision had to go through multiple discussions regarding feasibility of implementation. This was an immense learning experience for me. II dealt with multiple iterations of features that involved changes to optimize the database, webservices and software.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Strategic Design
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex section_desc_05">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        My background in Computer Science played a major role in taking design decisions. I was responsible for designing screens where I considered the feasibility of development. I collaborated with the product manager to estimate time and efforts required to implement designs. These designs were then handed over to our visual designer.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Comfort with ambiguity
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        There were multiple instances where we were uncertain about design and implementation. It was tempting to design and develop all features with utmost precision. However, due to limited time and resources, we had to deliver at a fast pace. My team and I decided to start low and invest on features according to  users’ feedback.
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /takeaway -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <!-- in the press -->
                <div class="row center_flex mb31px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4a">
                      In the Press
                    </h4>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="https://www.einpresswire.com/article/556466418/the-humanwisdom-app-could-reduce-stress-and-address-the-root-cause-of-climate-change" target="_blank">
                      <h4 class="txt7 underline">
                        THE HUMANWISDOM APP COULD REDUCE STRESS AND ADDRESS THE ROOT CAUSE OF CLIMATE CHANGE - EIN Presswire
                      </h4>
                    </a>
                  </div>
                </div>
                <!-- /in the press -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_03">
                  </div>
                </div>

                <div class="pagebreak"></div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-nav></app-bottom-nav>
<!-- /footer -->