<!-- onscroll div 02 -->
<nav class="navbar navbar-fixed-top cnavbar_01">
  <div class="container-fluid">
    <div>
      <div class="row flex_start w100p" >
        <div class="col-md-2 col-sm-2 col-xs-12 onscroll_div_04 p0">
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav dgrid show_nav">
              <li>
                <a href="#section1" class="txt5a">
                  work
                </a>
              </li>
              <li>
                <a href="#section2" class="txt5a">
                  testimonials
                </a>
              </li>
              <li>
                <a href="#section3" class="txt5a">
                  about
                </a>
              </li>
              <li>
                <a href="#section4" class="txt5a">
                  creative
                </a>
              </li>
              <li>
                <a href="#section5" class="txt5a">
                  contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- /onscroll div 02  -->