<!-- onscroll div 02 -->
<nav class="navbar navbar-fixed-top cnavbar_01 prelativei">
  <div class="container-fluid">
    <div>
      <div class="row flex_start w100p" >
        <div class="col-md-2 col-sm-2 col-xs-12 onscroll_div_02">
          <div class="collapse navbar-collapse onscroll_div_transform" id="myNavbar">
            <ul class="nav navbar-nav webkit_inline show_nav">
              <li>
                <a href="#section1" class="txt5">
                  takeaway
                </a>
              </li>
              <li>
                <a href="#section2" class="txt5">
                  reports
                </a>
              </li>
              <li>
                <a href="#section3" class="txt5">
                  development
                </a>
              </li>
              <li>
                <a href="#section4" class="txt5">
                  solution
                </a>
              </li>
              <li>
                <a href="#section5" class="txt5">
                  feedback
                </a>
              </li>
              <li>
                <a href="#section6" class="txt5">
                  wireframes
                </a>
              </li>
              <li>
                <a href="#section7" class="txt5">
                  sketches
                </a>
              </li>
              <li>
                <a href="#section8" class="txt5">
                  comp analysis
                </a>
              </li>
              <li>
                <a href="#section9" class="txt5">
                  insights
                </a>
              </li>
              <li>
                <a href="#section10" class="txt5">
                  interview
                </a>
              </li>
              <li>
                <a href="#section11" class="txt5">
                  problem
                </a>
              </li>
              <li>
                <a href="#section12" class="txt5">
                  overview
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- /onscroll div 02  -->