<!-- top navigation -->
<app-top-nav></app-top-nav>
<!-- /top navigation -->

<!-- onscroll div 01  -->
<!-- <div class="row onscroll_outer_div">
  <div class="col-md-2 col-sm-2 col-xs-12 p0 onscroll_inner_div">
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#section1">
        <h4 class="txt5">
          contact
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#section2">
        <h4 class="txt5">
          creative
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#about">
        <h4 class="txt5">
          about
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w02">
      <a href="#testimonials">
        <h4 class="txt5">
          testimonials
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#work" class="active">
        <h4 class="txt5">
          work
        </h4>
      </a>
    </div>
  </div>
</div> -->
<!-- /onscroll div 01-->

<!-- onscroll div 02 -->
<!-- <nav class="navbar navbar-fixed-top cnavbar_01">
  <div class="container-fluid">
    <div>
      <div class="row flex_start w100p" >
        <div class="col-md-2 col-sm-2 col-xs-12 onscroll_div_04">
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav dgrid show_nav">
              <li>
                <a href="#section1" class="txt5a">
                  work
                </a>
              </li>
              <li>
                <a href="#section2" class="txt5a">
                  testimonials
                </a>
              </li>
              <li>
                <a href="#section3" class="txt5a">
                  about
                </a>
              </li>
              <li>
                <a href="#section4" class="txt5a">
                  creative
                </a>
              </li>
              <li>
                <a href="#section5" class="txt5a">
                  contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav> -->
<!-- /onscroll div 02  -->

<!-- page content -->
<div class="right_col ml0 bg_purple" role="main">
  <!-- Class -->
  <div class="cw100p cabsolutet">
    <div class="row">
      <div _ngcontent-ehe-c137="" class="col-md-12 col-sm-12 col-xs-12 center_flex">
        <div class="col-md-10 col-sm-9 col-xs-12 p0 rw_02">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>

                <div class="row mt54px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4 mtb0px">
                      ABOUT ME
                    </h4>
                  </div>
                </div>

                <!-- about me -->
                <div id="section3">
                  <div class="mt37px plr10px">
                    <!-- who i am  -->
                    <div class="row mb74px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex flex_block">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p0 mm_flex_jc_center mb15px">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/users/pratik_mangtani.svg" class="img-responsive">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 rp0 mb15px">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="txt6 mb15px">
                                Who am I
                              </h4>
                              <p class="txt7 mb30px">
                                <span class="txt7">
                                  Hi, I am Pratik Mangtani, a product designer and developer, who takes an interdisciplinary approach to design. I have a background in
                                </span>
                                <span class="txt12">
                                  Computer Science  and the Culinary Arts.
                                </span>
                                <span class="txt7">
                                  I plan to advance my  journey in design by designing solutions that
                                </span>
                                <span class="txt12">
                                  use information to empower people.
                                </span>
                              </p>

                              <p class="txt7 mb30px">
                                <span class="txt7">
                                  I am currently studying
                                </span>
                                <span class="txt12">
                                  MS  in Human-Computer Interaction
                                </span>
                                <span class="txt7">
                                  at
                                </span>
                                <span class="txt7b">
                                  The University of Michigan.
                                </span>
                              </p>

                              <p class="txt7 mb0pxi">
                                <span class="txt7">
                                  I like to think of myself as a full-stack product designer who can lead a project from research and design to the prototyping phase to ensure a smooth developer handoff.
                                </span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /who i am -->

                    <!-- how the culinary arts made me a better designer -->
                    <div class="row mb74px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex flex_block">
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 p0 mb15px">
                          <h4 class="txt6 mb15px">
                            How the culinary arts made me a better designer?
                          </h4>
                          <p class="txt7 mb30px">
                            Apart from technology, I am passionate about the culinary arts.
                          </p>
                          <p class="txt7 mb30px">
                            My desire to design technology that enhances users’ experience stems from my background in the culinary arts and computer engineering. Culinary arts and Human-Computer Interaction both work towards the common goal of creating a stimulating experience for people. Just like I arduously plan ingredients to create dishes, I break down problems and tailor individual modules to curate effective solutions for customers.
                          </p>
                          <p class="txt7 mb0pxi">
                            This led me to discover the union of my technical and creative skills through HCI.
                          </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 rp0 mm_flex_jc_center ctright_01 mb15px">
                          <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/about_v4_02.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                    <!-- /how the culinary arts made me a better designer -->

                    <!-- my experience as a cook  -->
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt6">
                          My experience as a cook
                        </h4>
                      </div>
                    </div>

                    <div class="row img_mtb_05">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                        <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/about_v4_03.svg" class="img-responsive">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                        <h4 class="txt9 mtb0px">
                          Team Table
                        </h4>
                      </div>
                    </div>

                    <div class="row mt45px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <p class="txt7 mb30px">
                          I was drawn to the freedom and intensity of the creative process of visualizing a meal on a plate.
                        </p>
                        <p class="txt7 mb30px">
                          After graduation, I completed a craftsmanship training at the Indian Institute of Hotel Management, Catering Technology and Applied Nutrition, Mumbai.
                        </p>
                        <p class="txt7 mb0pxi">
                          After my training, I worked as an apprentice at The Table, Mumbai, to hone my culinary skills.
                        </p>
                      </div>
                    </div>

                    <div class="row center_flex img_mtb_01">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tcenter mb15px">
                          <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/about_v4_04.svg" class="img-responsive">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tcenter mb15px">
                          <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/about_v4_05.svg" class="img-responsive">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tcenter mb15px">
                          <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/about_v4_06.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                    <!-- /my experience as a cook  -->
                  </div>
                </div>
                <!-- /about me  -->

                <div class="row mt54px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4 mtb0px">
                      TESTIMONIALS
                    </h4>
                  </div>
                </div>

                <!-- testimonials -->
                <div id="section2" style="min-height: 50vh;">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb34px bg_01">
                      <!-- carousel -->
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <section class="carousel-fixed-height">
                            <div id="carousel_05" class="carousel slide" data-ride="carousel" data-interval="3000000">
                              <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                  <div class="row center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-12 p0">
                                      <div class="col-md-3 col-sm-12 col-xs-12 tleft mm_flex_jc_center">
                                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/users/mahesh_ramanathan.svg" class="img-responsive">
                                      </div>
                                      <div class="col-md-9 col-sm-12 col-xs-12 mm_mt25px">
                                        <h4 class="txt6 mtb0px">
                                          Mahesh Ramanathan
                                        </h4>
                                        <h4 class="txt6 mtb0px">
                                          Chief Technology Officer at HumanWisdom
                                        </h4>
                                        <h6 class="txt7 mt55px">
                                          Apart from being a wonderful person with an ever positive attitude, Pratik had the curiosity of a kid and maturity of a professional. I dont think impossible exists in his dictionary. he's an amazing team player, always supporting his team mates. His ability to analyse a problem is surprisingly sharp and his learning ability is as impressive. I wish him the very best in every thing he attempts.
                                        </h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="item">
                                  <div class="row center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-12 p0">
                                      <div class="col-md-3 col-sm-12 col-xs-12 tleft mm_flex_jc_center">
                                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/users/manoj_krishna.svg" class="img-responsive">
                                      </div>
                                      <div class="col-md-9 col-sm-12 col-xs-12 mm_mt25px">
                                        <h4 class="txt6 mtb0px">
                                          Dr Manoj Krishna 
                                        </h4>
                                        <h4 class="txt6 mtb0px">
                                          Founder, Human Wisdom Program 
                                        </h4>
                                        <h6 class="txt7 mt55px">
                                          Pratik worked for the Human Wisdom Project  as a UX Engineer and was also involved in discussions about the user experience. He was very hard working. He had high standards and the quality of work he delivered was excellent. He had a great work ethic - he followed through on all his commitments. If there was a problem, I was impressed with the creative solutions he came up with. I was sorry to see him leave for his studies, and would hire him again if the opportunity arose.
                                        </h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="item">
                                  <div class="row center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-12 p0">
                                      <div class="col-md-3 col-sm-12 col-xs-12 tleft mm_flex_jc_center">
                                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/tiles/users/nidhi_singhvi.svg" class="img-responsive">
                                      </div>
                                      <div class="col-md-9 col-sm-12 col-xs-12 mm_mt25px">
                                        <h4 class="txt6 mtb0px">
                                          Nidhi Singhvi
                                        </h4>
                                        <h4 class="txt6 mtb0px">
                                          Founder, Nidhi Singhvi Design
                                        </h4>
                                        <p class="txt7 mt55px">
                                          Throughout my collaboration with Pratik, I could tell he is passionate about his work, and invests himself quite immersively in the larger goal of the project. He is willing to face challenges that come his way and doesn't back from taking initiative. He is trustworthy about this work and time commitments.
                                        </p>
                                        <p class="txt7">
                                          He's a pleasant person to work with and I look forward to collaborating with him again in the future.
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <a class="left carousel-control" href="#carousel_05" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#carousel_05" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                              </a>
                              <ol class="carousel-indicators">
                                <li data-target="#carousel_05" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel_05" data-slide-to="1" class="mli"></li>
                                <li data-target="#carousel_05" data-slide-to="2" class=""></li>
                              </ol>
                            </div>
                          </section>

                        </div>
                      </div>
                      <!-- /carousel -->
                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /testimonials -->

                <div class="pagebreak"></div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-nav></app-bottom-nav>
<!-- /footer -->