.txt1 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;    
    color: #FFFFFF;
}

.txt2 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.txt3 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 75px;    
    color: #FFFFFF;
}

.txt4 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 95px; 
    /* White */    
    color: #FFFFFF;    
    opacity: 0.75;
}

.txt4a 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 1.14; 
    /* White */    
    color: #FFFFFF;    
    opacity: 0.75;
}

.txt5 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;    
    /* Grey */    
    color: #827C85;
}

.txt5a
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;    
    /* Grey */    
    color: #827C85;
}

.txt6 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;    
}

.txt7 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;    
    /* Grey */    
    color: #827C85;    
}

.txt7a 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;    
    /* Grey */    
    color: #FFFFFF;   
    opacity: 0.75; 
}

.txt8 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.txt9 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    /* Grey */
    color: #827C85;
}

.txt10
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 75px;
    /* White */    
    color: #FFFFFF;
}

.txt11 
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.txt12
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}