<!-- top navigation -->
<div class="top_nav ml0">
  <div class="nav_menu cnav_menu p20px mb0px tn_padding bg_black">
    <nav class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center_flex cnav_padding">
          <div class="col-lg-8 col-md-6 col-sm-8 col-xs-8 p0 center_flex">
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
              <img src="assets/svgs/logo/pm.svg" alt="" class="img-responsive img_pm">
            </div>

            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-9 p0">
              <h6 class="txt1"> pratik mangtani </h6>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">

            <!-- desktop -->
            <ul class="nav nav-tabs cnavtabs ddesktop">
              <li class="active">
                <a class="txt2 tt_uppercase" data-toggle="tab" href="#">
                  Home
                </a>
              </li>
              <li>
                <a class="txt2 tt_uppercase" data-toggle="tab" href="#">
                  ABOUT
                </a>
              </li>
              <li>
                <a class="txt2 tt_uppercase" data-toggle="tab" href="#">
                  CREATIVE
                </a>
              </li>
              <li>
                <a class="txt2 tt_uppercase" data-toggle="tab" href="#">
                  RESUME
                </a>
              </li>
            </ul>
            <!-- /desktop -->

            <!-- mobile -->
            <!-- hamburger -->
            <nav class="mnav dmobile">
              <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox">
              <label class="m-menu__toggle m0px" for="menu">                    
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/hamburger.svg" class="img-responsive" alt="">
              </label>
              <label class="m-menu__overlay" for="menu"></label>    
              
              <div class="m-menu">
                <!-- <div class="m-menu__header">
                  <div class="row">                    
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                      <div class="col-md-2 col-sm-3 col-xs-4">
                        <img src="assets/svgs/logo/pm.svg" alt="" class="img-responsive img_pm">
                      </div>
          
                      <div class="col-md-10 col-sm-9 col-xs-8 p0">
                        <h6 class="txt1 tleft"> pratik mangtani </h6>
                      </div>
                    </div>                    
                  </div>
                </div> -->
                <ul class="dh_ul">
                  <li>
                    <div class="row row_m01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 p0">
                          <h4 class="txt8 mtb0px tleft tt_uppercase">
                            Home
                          </h4>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="row row_m01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 p0">
                          <h4 class="txt8 mtb0px tleft tt_uppercase">
                            About
                          </h4>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="row row_m01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 p0">
                          <h4 class="txt8 mtb0px tleft tt_uppercase">
                            Creative
                          </h4>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="row row_m01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 p0">
                          <h4 class="txt8 mtb0px tleft tt_uppercase">
                            Resume
                          </h4>
                        </div>
                      </div>
                    </div>
                  </li>

                  <div class="pagebreak"></div>
                </ul>      
              </div>              
            </nav> 
            <!-- /hamburger -->
            <!-- /mobile -->

          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- /top navigation -->

<!-- onscroll div 01  -->
<!-- <div class="row onscroll_outer_div">
  <div class="col-md-2 col-sm-2 col-xs-12 p0 onscroll_inner_div">
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#section1">
        <h4 class="txt5">
          contact
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#section2">
        <h4 class="txt5">
          creative
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#about">
        <h4 class="txt5">
          about
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w02">
      <a href="#testimonials">
        <h4 class="txt5">
          testimonials
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#work" class="active">
        <h4 class="txt5">
          work
        </h4>
      </a>
    </div>
  </div>
</div> -->
<!-- /onscroll div 01-->

<!-- onscroll div 02 -->
<nav class="navbar navbar-fixed-top cnavbar_01 prelativei">
  <div class="container-fluid">
    <div>
      <div class="row flex_start w100p" >
        <div class="col-md-2 col-sm-2 col-xs-12 onscroll_div_03">
          <div class="collapse navbar-collapse onscroll_div_transform" id="myNavbar">
            <ul class="nav navbar-nav webkit_inline show_nav">
              <li>
                <a href="#section1" class="txt5">
                  takeaway
                </a>
              </li>
              <li>
                <a href="#section2" class="txt5">
                  impact
                </a>
              </li>
              <li>
                <a href="#section3" class="txt5">
                  flow
                </a>
              </li>
              <li>
                <a href="#section4" class="txt5">
                  solution
                </a>
              </li>
              <li>
                <a href="#section5" class="txt5">
                  problem
                </a>
              </li>
              <li>
                <a href="#section6" class="txt5">
                  research
                </a>
              </li>
              <li>
                <a href="#section7" class="txt5">
                  overview
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- /onscroll div 02  -->

<!-- page content -->
<div class="right_col ml0 bg_purple " role="main">
  <!-- Class -->
  <div class="cw100p cabsolutet">
    <div class="row">
      <div _ngcontent-ehe-c137="" class="col-md-12 col-sm-12 col-xs-12 center_flex">
        <div class="col-md-10 col-sm-9 col-xs-12 p0">
          <div class="x_panel dflexblock_transcript">
            <div class="x_content c_white fwunset pt0px mt0px">
              <form>

                <!-- carousel -->
                <div class="row mt82px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <section class="carousel-fixed-height">
                      <div id="carousel_01" class="carousel slide" data-ride="carousel" data-interval="3000000">
                        <div class="carousel-inner ci_02 mb60px" role="listbox">
                          <div class="item active">
                            <img src="assets/svgs/background/tiles/voronav/voronav_01.svg" class="img-responsive">
                          </div>
                          <div class="item">
                            <img src="assets/svgs/background/tiles/voronav/voronav_02.svg" class="img-responsive">
                          </div>
                          <div class="item">
                            <img src="assets/svgs/background/tiles/voronav/voronav_03.svg" class="img-responsive">
                          </div>
                        </div>
                        <a class="left carousel-control" href="#carousel_01" role="button" data-slide="prev">
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel_01" role="button" data-slide="next">
                          <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators">
                          <li data-target="#carousel_01" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel_01" data-slide-to="1" class="mli"></li>
                          <li data-target="#carousel_01" data-slide-to="2" class=""></li>
                        </ol>
                      </div>
                    </section>

                  </div>
                </div>
                <!-- /carousel -->

                <div class="row center_flex mt40px">
                  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                    <a>
                      <button type="button" class="btn btn-default btn_hwp_link_website">
                        Final Paper 
                      </button>
                    </a>
                  </div>
                </div>

                <!-- voronav -->
                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4">
                      Voronav
                    </h4>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt7">
                      Research | Full stack Development | UX Design
                    </h4>
                  </div>
                </div>

                <div class="row center_flex mb32px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt6">
                      Indoor Positioning Solution using Bluetooth Low Energy Beacons and Voronoi Mapping for easy navigation in large indoor premises.
                    </h4>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h4 class="txt6 mb23px">
                        Roles and Responsibilities
                      </h4>
                      
                      <h4 class="txt7">
                        Research: User Interviews, Competetive Analysis, Journey Mapping
                      </h4>

                      <h4 class="txt7">
                        UX Design: App flow, High fidelity prototype of the algorithm.
                      </h4>

                      <h4 class="txt7">
                        Development: Development of master screens, Android appliation, wenservices
                      </h4>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h4 class="txt6 mb23px">
                        Project Context
                      </h4>

                      <h4 class="txt7">
                        May 2017 - May 2018
                      </h4>

                      <h4 class="txt7">
                        Team:Nidhi Ramanathan, Shruti Kangle, Sanjali Suryawanshi
                      </h4>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h4 class="txt6 mb23px">
                        Tools Used
                      </h4>

                      <h4 class="txt7">
                        Figma <br>
                        HTML, CSS <br>
                        MySQL <br>
                        Lucid Charts <br>
                        PHP(Laravel Framework) <br>
                        Java <br>
                        Android <br>
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /voronav -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_02">
                  </div>
                </div>

                <!-- overview -->
                <div id="section7">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4">
                        Overview 
                      </h4>
                    </div>
                  </div>

                  <div class="row mt29px mb68px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <img src="assets/svgs/background/tiles/voronav/voronav_04.svg" class="img-responsive">
                      </div>
  
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb10px">
                        <img src="assets/svgs/background/tiles/voronav/voronav_05.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 mb20px">
                        There are stationary RFID kiosks in malls and airports but the navigation system is not dynamic. ​
                      </h4>

                      <h4 class="txt7">
                        Present models of Indoor positioning use Wifi and triangulation technique which is not energy efficient and lacks accuracy.
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /overview -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_02">
                  </div>
                </div>

                <!-- research -->
                <div id="section6">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4">
                        Research
                      </h4>
                    </div>
                  </div>

                  <div class="row mt48px mb82px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <img src="assets/svgs/background/tiles/voronav/voronav_06.svg" class="img-responsive">
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        Present models of Indoor positioning use Wifi and triangulation technique which is not energy efficient and lacks accuracy. Our initial plan was to have an indoor navigation system. We realized that the main problem lied in efficiently locating the source. We thus based our problem statement on indoor positioning.
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /research -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_02">
                  </div>
                </div>

                <!-- problem -->
                <div id="section5">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4">
                        Problem
                      </h4>
                    </div>
                  </div>

                  <div class="row mt55px mb55px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <img src="assets/svgs/background/tiles/voronav/voronav_07.svg" class="img-responsive w100p">
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        After literature review and surveys, we decided to base our project on finding an energy efficient algorithm to locate users in indoor premises. Currentl systems like triangulation  and RFID reequire a lot of equipments. It is difficult to build and maintain.  
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /problem -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_02">
                  </div>
                </div>

                <!-- algorith & solution -->
                <div id="section4">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4">
                        Algorithm and Solution
                      </h4>
                    </div>
                  </div>

                  <!-- carousel -->
                  <div class="row mt84px mb93px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                      <section class="carousel-fixed-height">
                        <div id="carousel_02" class="carousel slide" data-ride="carousel" data-interval="3000000">
                          <div class="carousel-inner ci_02 mb93px" role="listbox">
                            <div class="item active">
                              <img src="assets/svgs/background/tiles/voronav/voronav_08.svg" class="img-responsive">
                            </div>
                            <div class="item">
                              <img src="assets/svgs/background/tiles/voronav/voronav_09.svg" class="img-responsive">
                            </div>
                            <div class="item">
                              <img src="assets/svgs/background/tiles/voronav/voronav_10.svg" class="img-responsive">
                            </div>
                          </div>
                          <a class="left carousel-control" href="#carousel_02" role="button" data-slide="prev">
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel_02" role="button" data-slide="next">
                            <span class="sr-only">Next</span>
                          </a>
                          <ol class="carousel-indicators">
                            <li data-target="#carousel_02" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel_02" data-slide-to="1" class="mli"></li>
                            <li data-target="#carousel_02" data-slide-to="2" class=""></li>
                          </ol>
                        </div>
                      </section>

                    </div>
                  </div>
                  <!-- /carousel -->

                  <div class="row center_flex mt37px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7 mb28px">
                        After understanding the problem carefully we realized that we needed a dynamic system to position users in an energy efficient way. That is how we came up with Voronav, which is an Indoor Positioning application.
                      </h4>
                      <h4 class="txt7 mb28px">
                        It calculates the current position of a user using Bluetooth Low energy beacons.​
                      </h4>
                      <h4 class="txt7 mb28px">
                        The algorithm made use of a order k voronoi diagram which maps the environment of the user and then creates zones for detecting the position.​
                      </h4>
                      <h4 class="txt7">
                        The relative distance of the user from the beacons was calculated and the position of the user was thus detected.
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /algorith & solution -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_02">
                  </div>
                </div>

                <!-- app flow -->
                <div id="section3">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4">
                        App Flow 
                      </h4>
                    </div>
                  </div>

                  <!-- carousel -->
                  <div class="row mt27px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                      <section class="carousel-fixed-height">
                        <div id="carousel_03" class="carousel slide" data-ride="carousel" data-interval="3000000">
                          <div class="carousel-inner ci_02 mb83px" role="listbox">
                            <div class="item active">
                              <img src="assets/svgs/background/tiles/voronav/voronav_11.svg" class="img-responsive">
                            </div>
                            <div class="item">
                              <img src="assets/svgs/background/tiles/voronav/voronav_12.svg" class="img-responsive">
                            </div>
                          </div>
                          <a class="left carousel-control" href="#carousel_03" role="button" data-slide="prev">
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel_03" role="button" data-slide="next">
                            <span class="sr-only">Next</span>
                          </a>
                          <ol class="carousel-indicators">
                            <li data-target="#carousel_03" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel_03" data-slide-to="1" class="mli"></li>
                          </ol>
                        </div>
                      </section>

                    </div>
                  </div>
                  <!-- /carousel -->

                  <div class="row center_flex mt37px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        We designed an app flow to deploy our system in malls.  We created master screens and webservices for easy installation of the system. The application for end users got data from MySql database and real-time mapping through Voronoi algorithm.
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /app flow -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_02">
                  </div>
                </div>

                <!-- impact & other applications -->
                <div id="section2">
                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4">
                        Impact and other applications
                      </h4>
                    </div>
                  </div>

                  <!-- carousel -->
                  <div class="row mt83px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                      <section class="carousel-fixed-height">
                        <div id="carousel_04" class="carousel slide" data-ride="carousel" data-interval="3000000">
                          <div class="carousel-inner ci_02 mb73px" role="listbox">
                            <div class="item active">
                              <img src="assets/svgs/background/tiles/voronav/voronav_13.svg" class="img-responsive">
                            </div>
                            <div class="item">
                              <img src="assets/svgs/background/tiles/voronav/voronav_14.svg" class="img-responsive">
                            </div>
                          </div>
                          <a class="left carousel-control" href="#carousel_04" role="button" data-slide="prev">
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel_04" role="button" data-slide="next">
                            <span class="sr-only">Next</span>
                          </a>
                          <ol class="carousel-indicators">
                            <li data-target="#carousel_04" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel_04" data-slide-to="1" class="mli"></li>
                          </ol>
                        </div>
                      </section>

                    </div>
                  </div>
                  <!-- /carousel -->

                  <div class="row center_flex mt37px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        This scalable solution can be used to address position detection problems in many indoor premises such as museums, hospitals, and malls.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt39px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Impact:
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt16px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        This application and the algorithm was further developed to build a nearest nurse detection system  for Ruby Hall Clinic, Pune, Maharashtra.
                      </h4>
                      <h4 class="txt7">
                        This app is  currently used by all branches of Ruby Hall with approximately 1000 users,  650 doctors and 300 consultant doctors. 
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /impact & other applications -->

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_02">
                  </div>
                </div>

                <!-- takeaway -->
                <div id="section1">
                  <div class="row center_flex mb37px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt4">
                        Takeaway
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb13px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Product Design and Development pipeline.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb23px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        Thie design and development of this project took a year and it got me familiar with the entire product development pipeline from research to development and then testing.
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb13px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt6">
                        Tradeoffs between technical constraints and the required user experience
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mb23px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt7">
                        During the research we realized that accurate positioning was not required as long as users comfortably reached their destinations. We, thus used Voronoi mapping and the concept of calculing relative distances.
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- /takeaway -->
                
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_02">
                  </div>
                </div>

                <div class="pagebreak"></div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<div id="section5">
  <div class="sidebar-footer ifooter">
    <div class="row mt61px mb18px">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt6 tcenter">
          Let’s connect
        </h4>
      </div>
    </div>

    <div class="row mb65px">
      <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/linkedin.svg" class="img-responsive">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/mail.svg" class="img-responsive">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/call.svg" class="img-responsive">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/instagram.svg" class="img-responsive">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt7 tcenter">
          Copyright 2021 | Pratik Mangtani
        </h4>
      </div>
    </div>
  </div>
</div>
<!-- /footer -->