<!-- top navigation -->
<div class="top_nav ml0">
  <div class="nav_menu cnav_menu p20px mb0px tn_padding bg_black">
    <nav class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center_flex cnav_padding">
          <div class="col-lg-8 col-md-6 col-sm-8 col-xs-8 p0 center_flex">
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
              <a class="txt2 tt_uppercase" routerLink="/frameworks/cover-page/">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/pm/assets/svgs/logo/pm.svg" alt="" class="img-responsive img_pm">
              </a>
            </div>

            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-9 p0">
              <h6 class="txt1"> pratik mangtani </h6>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">

            <!-- desktop -->
            <ul class="nav nav-tabs cnavtabs ddesktop">
              <li class="">
                <a class="txt2 tt_uppercase" routerLink="/frameworks/cover-page/">
                  Home
                </a>
              </li>
              <!-- <li>
                <a class="txt2 tt_uppercase" href="frameworks/cover-page#section3">
                  ABOUT
                </a>
              </li> -->
              <li class="">
                <a class="txt2 tt_uppercase" routerLink="/frameworks/creative/">
                  CREATIVE
                </a>
              </li>
              <li>
                <a class="txt2 tt_uppercase" href="https://drive.google.com/file/d/1-kI2QAw1jZkc2SbHPBXQ0scGDGBVItD7/view?usp=sharing" target="_blank">
                  RESUME
                </a>
              </li>
            </ul>
            <!-- /desktop -->

            <!-- mobile -->
            <!-- hamburger -->
            <nav class="mnav dmobile">
              <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox">
              <label class="m-menu__toggle m0px" for="menu">                    
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/hamburger.svg" class="img-responsive" alt="">
              </label>
              <label class="m-menu__overlay" for="menu"></label>    
              
              <div class="m-menu">
                <!-- <div class="m-menu__header">
                  <div class="row">                    
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                      <div class="col-md-2 col-sm-3 col-xs-4">
                        <img src="assets/svgs/logo/pm.svg" alt="" class="img-responsive img_pm">
                      </div>
          
                      <div class="col-md-10 col-sm-9 col-xs-8 p0">
                        <h6 class="txt1 tleft"> pratik mangtani </h6>
                      </div>
                    </div>                    
                  </div>
                </div> -->
                <ul class="dh_ul">
                  <li>
                    <a class="" routerLink="/frameworks/cover-page/">
                      <div class="row row_m01">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive"> -->
                          </div>
                          <div class="col-md-10 col-sm-10 col-xs-10 p0">
                            <h4 class="txt8 mtb0px tleft tt_uppercase">
                              Home
                            </h4>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                  <!-- <li>
                    <div class="row row_m01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 p0">
                          <h4 class="txt8 mtb0px tleft tt_uppercase">
                            About
                          </h4>
                        </div>
                      </div>
                    </div>
                  </li> -->

                  <li>
                    <a class="" routerLink="/frameworks/creative/">
                      <div class="row row_m01">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive"> -->
                          </div>
                          <div class="col-md-10 col-sm-10 col-xs-10 p0">
                            <h4 class="txt8 mtb0px tleft tt_uppercase">
                              Creative
                            </h4>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a class="" href="https://drive.google.com/file/d/1-jSg2JZY6KeCZgqKLsN9PhcTIQa6xwKU/view?usp=sharing" target="_blank">
                      <div class="row row_m01">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive"> -->
                          </div>
                          <div class="col-md-10 col-sm-10 col-xs-10 p0">
                            <h4 class="txt8 mtb0px tleft tt_uppercase">
                              Resume
                            </h4>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                  <div class="pagebreak"></div>
                </ul>      
              </div>              
            </nav> 
            <!-- /hamburger -->
            <!-- /mobile -->

          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- /top navigation -->