<!-- top navigation -->
<div class="top_nav ml0">
  <div class="nav_menu cnav_menu p20px mb0px tn_padding bg_black">
    <nav class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center_flex cnav_padding">
          <div class="col-md-8 col-sm-8 col-xs-8 p0 center_flex">
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
              <img src="assets/svgs/logo/pm.svg" alt="" class="img-responsive img_pm">
            </div>

            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-9 p0">
              <h6 class="txt1"> pratik mangtani </h6>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-4">

            <!-- desktop -->
            <ul class="nav nav-tabs cnavtabs ddesktop">
              <li class="active">
                <a class="txt2 tt_uppercase" data-toggle="tab" href="#">
                  Home
                </a>
              </li>
              <li>
                <a class="txt2 tt_uppercase" data-toggle="tab" href="#">
                  ABOUT
                </a>
              </li>
              <li>
                <a class="txt2 tt_uppercase" data-toggle="tab" href="#">
                  CREATIVE
                </a>
              </li>
              <li>
                <a class="txt2 tt_uppercase" data-toggle="tab" href="#">
                  RESUME
                </a>
              </li>
            </ul>
            <!-- /desktop -->

            <!-- mobile -->
            <!-- hamburger -->
            <nav class="mnav dmobile">
              <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox">
              <label class="m-menu__toggle m0px" for="menu">                    
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/hamburger.svg" class="img-responsive" alt="">
              </label>
              <label class="m-menu__overlay" for="menu"></label>    
              
              <div class="m-menu">
                <!-- <div class="m-menu__header">
                  <div class="row">                    
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                      <div class="col-md-2 col-sm-3 col-xs-4">
                        <img src="assets/svgs/logo/pm.svg" alt="" class="img-responsive img_pm">
                      </div>
          
                      <div class="col-md-10 col-sm-9 col-xs-8 p0">
                        <h6 class="txt1 tleft"> pratik mangtani </h6>
                      </div>
                    </div>                    
                  </div>
                </div> -->
                <ul class="dh_ul">
                  <li>
                    <div class="row row_m01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 p0">
                          <h4 class="txt8 mtb0px tleft tt_uppercase">
                            Home
                          </h4>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="row row_m01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 p0">
                          <h4 class="txt8 mtb0px tleft tt_uppercase">
                            About
                          </h4>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="row row_m01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 p0">
                          <h4 class="txt8 mtb0px tleft tt_uppercase">
                            Creative
                          </h4>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="row row_m01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dhamburger/01.svg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 p0">
                          <h4 class="txt8 mtb0px tleft tt_uppercase">
                            Resume
                          </h4>
                        </div>
                      </div>
                    </div>
                  </li>

                  <div class="pagebreak"></div>
                </ul>      
              </div>              
            </nav> 
            <!-- /hamburger -->
            <!-- /mobile -->

          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- /top navigation -->

<!-- onscroll div 01  -->
<!-- <div class="row onscroll_outer_div">
  <div class="col-md-2 col-sm-2 col-xs-12 p0 onscroll_inner_div">
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#section1">
        <h4 class="txt5">
          contact
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#section2">
        <h4 class="txt5">
          creative
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#about">
        <h4 class="txt5">
          about
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w02">
      <a href="#testimonials">
        <h4 class="txt5">
          testimonials
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#work" class="active">
        <h4 class="txt5">
          work
        </h4>
      </a>
    </div>
  </div>
</div> -->
<!-- /onscroll div 01-->

<!-- onscroll div 02 -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar_01">
  <div class="container-fluid">
    <div>
      <div class="row flex_start w100p" >
        <div class="col-md-2 col-sm-2 col-xs-12 onscroll_div_01">
          <div class="collapse navbar-collapse onscroll_div_transform" id="myNavbar">
            <ul class="nav navbar-nav webkit_inline show_nav">
              <li>
                <a href="#section5" class="txt5">
                  contact
                </a>
              </li>
              <li>
                <a href="#section4" class="txt5">
                  creative
                </a>
              </li>
              <li>
                <a href="#section3" class="txt5">
                  about
                </a>
              </li>
              <li>
                <a href="#section2" class="txt5">
                  testimonials
                </a>
              </li>
              <li>
                <a href="#section1" class="txt5">
                  work
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- /onscroll div 02  -->

<!-- page content -->
<div class="right_col ml0 bg_purple" role="main">
  <!-- Class -->
  <div class="cw100p cabsolutet">
    <div class="row">
      <div _ngcontent-ehe-c137="" class="col-md-12 col-sm-12 col-xs-12 center_flex">
        <div class="col-md-10 col-sm-9 col-xs-12 p0">
          <div class="x_panel dflexblock_transcript">
            <div class="x_content c_white fwunset pt0px mt0px">
              <form>

                <section class="section_mh">
                  <div class="row mt53px">
                    <div class="col-md-12 col-sm-10 col-xs-10">
                      <h6 class="txt1 mtb0px">
                        Hi / Namaste
                      </h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt3">
                        I am Pratik Mangtani, a product designer and developer, passionate about solving human-centered problems.
                      </h4>
                    </div>
                  </div>
                </section>

                <div class="row mt125px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4 mtb0px">
                      WORK
                    </h4>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt5 mtb0px">
                      4 selected projects
                    </h4>
                  </div>
                </div>

                <!-- work -->
                <div id="section1">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb108px bg_01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-md-9 col-sm-12 col-xs-12 p0">
                          <h4 class="txt6">
                            The Human Wisdom Program
                          </h4>
                          <h6 class="txt7">
                            UX Design | UX Research | Development
                          </h6>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 p0 tright">
                          <a>
                            <button type="button" class="btn btn-default btn_read_process">
                              Read Process
                            </button>
                          </a>
                        </div>
                      </div>

                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <hr class="hr_01">
                      </div>

                      <!-- carousel -->
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <section class="carousel-fixed-height">
                            <div id="dcarousel" class="carousel slide" data-ride="carousel" data-interval="3000000">
                              <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                  <img src="assets/svgs/background/tiles/carousel/work/work_01.svg" class="img-responsive w100p">
                                </div>
                                <div class="item">
                                  <img src="assets/svgs/background/tiles/carousel/work/work_01.svg" class="img-responsive w100p">
                                </div>
                                <div class="item">
                                  <img src="assets/svgs/background/tiles/carousel/work/work_01.svg" class="img-responsive w100p">
                                </div>
                              </div>
                              <a class="left carousel-control" href="#dcarousel" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#dcarousel" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                              </a>
                              <ol class="carousel-indicators">
                                <li data-target="#dcarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#dcarousel" data-slide-to="1" class="mli"></li>
                                <li data-target="#dcarousel" data-slide-to="2" class=""></li>
                              </ol>
                            </div>
                          </section>

                        </div>
                      </div>
                      <!-- /carousel -->

                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /work -->

                <div class="row mt54px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4 mtb0px">
                      TESTIMONIALS
                    </h4>
                  </div>
                </div>

                <!-- testimonials -->
                <div id="section2">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb108px bg_01">
                      <!-- carousel -->
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <section class="carousel-fixed-height">
                            <div id="dcarousel" class="carousel slide" data-ride="carousel" data-interval="3000000">
                              <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                  <div class="row center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-12 p0">
                                      <div class="col-md-3 col-sm-12 col-xs-12 tleft mm_flex_jc_center">
                                        <img src="assets/svgs/background/tiles/users/mahesh_ramanathan.svg" class="img-responsive">
                                      </div>
                                      <div class="col-md-9 col-sm-12 col-xs-12 mm_mt25px">
                                        <h4 class="txt6 mtb0px">
                                          Mahesh Ramanathan
                                        </h4>
                                        <h4 class="txt6 mtb0px">
                                          Chief Technology Officer at HumanWisdom
                                        </h4>
                                        <h6 class="txt7 mt55px">
                                          Apart from being a wonderful person with an ever positive attitude, Pratik had the curiosity of a kid and maturity of a professional. I dont think impossible exists in his dictionary. he's an amazing team player, always supporting his team mates. His ability to analyse a problem is surprisingly sharp and his learning ability is as impressive. I wish him the very best in every thing he attempts.
                                        </h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="item">
                                  <img src="assets/svgs/background/tiles/carousel/work/work_01.svg" class="img-responsive w100p">
                                </div>
                                <div class="item">
                                  <img src="assets/svgs/background/tiles/carousel/work/work_01.svg" class="img-responsive w100p">
                                </div>
                              </div>
                              <a class="left carousel-control" href="#dcarousel" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#dcarousel" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                              </a>
                              <ol class="carousel-indicators">
                                <li data-target="#dcarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#dcarousel" data-slide-to="1" class="mli"></li>
                                <li data-target="#dcarousel" data-slide-to="2" class=""></li>
                              </ol>
                            </div>
                          </section>

                        </div>
                      </div>
                      <!-- /carousel -->
                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /testimonials -->

                <div class="row mt54px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4 mtb0px">
                      ABOUT ME
                    </h4>
                  </div>
                </div>

                <!-- about me -->
                <div id="section3">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb108px bg_01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex flex_block">
                        <div class="col-md-9 col-sm-12 col-xs-12 p0">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <h4 class="txt6 mb15px">
                                Who am I ?
                              </h4>
                              <h6 class="txt7 mb37px">
                                Hi, I am Pratik Mangtani, a product developer and designer, who takes an interdisciplinary approach to design. I have a background in computer engineering. I plan to advance my self-taught journey in design by designing solutions that use information to empower people.
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <h4 class="txt6 mb15px">
                                What I do?
                              </h4>
                              <h6 class="txt7 mb37px">
                                <p>
                                  My goal is to bring empathy to technology. My background in Computer Science enables me to bring a technical point of view to design in addition to advocating for users' needs.
                                </p>
                                <p>
                                  To fulfill these goals, I contribute to both product development and UX design through my work.
                                </p>
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <h4 class="txt6 mb15px">
                                How the culinary arts made me a better designer?
                              </h4>
                              <h6 class="txt7 mb37px">
                                <p>
                                  Apart from technology, I am passionate about the culinary arts.
                                </p>
                                <p>
                                  My desire to design technology that enhances users’ experience stems from my background in the culinary arts and computer engineering. Culinary arts and Human-Computer Interaction both work towards the common goal of creating a stimulating experience for people. Just like I arduously plan ingredients to create dishes, I break down problems and tailor individual modules to curate effective solutions for customers.
                                </p>
                                <p>
                                  This led me to discover the union of my technical and creative skills through HCI.
                                </p>
                              </h6>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 tright mm_flex_jc_center">
                          <img src="assets/svgs/background/tiles/users/pratik_mangtani.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /about me  -->

                <div class="row mt54px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4 mtb0px">
                      CREATIVE
                    </h4>
                  </div>
                </div>

                <!-- creative -->
                <div id="section4">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb108px bg_01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-md-9 col-sm-12 col-xs-12 p0">
                          <h4 class="txt6">
                            The Culinary Arts | Graphic Design | Photograpgy
                          </h4>
                          <h6 class="txt7">
                            My interests in photography, graphic design, and the culinary arts motivated me to find the union of my technical and creative skills.
                          </h6>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 p0 tright">
                          <a>
                            <button type="button" class="btn btn-default btn_read_process">
                              View More
                            </button>
                          </a>
                        </div>
                      </div>

                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <hr class="hr_01">
                      </div>

                      <!-- carousel -->
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <section class="carousel-fixed-height">
                            <div id="carousel_creative" class="carousel slide mb0pxi" data-ride="carousel" data-interval="3000000">
                              <div class="carousel-inner center_flex" role="listbox">
                                <div class="item active">
                                  <img src="assets/svgs/background/tiles/carousel/creative/creative_01.svg" class="img-responsive">
                                </div>
                                <div class="item">
                                  <img src="assets/svgs/background/tiles/carousel/creative/creative_01.svg" class="img-responsive">
                                </div>
                                <div class="item">
                                  <img src="assets/svgs/background/tiles/carousel/creative/creative_01.svg" class="img-responsive">
                                </div>
                              </div>
                              <a class="left carousel-control" href="#dcarousel" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#dcarousel" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                              </a>
                              <ol class="carousel-indicators">
                                <li data-target="#dcarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#dcarousel" data-slide-to="1" class="mli"></li>
                                <li data-target="#dcarousel" data-slide-to="2" class=""></li>
                              </ol>
                            </div>
                          </section>

                        </div>
                      </div>
                      <!-- /carousel -->
                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /creative -->

                <div class="pagebreak"></div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<div id="section5">
  <div class="sidebar-footer ifooter">
    <div class="row mt61px mb18px">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt6 tcenter">
          Let’s connect
        </h4>
      </div>
    </div>

    <div class="row mb65px">
      <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/linkedin.svg" class="img-responsive">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/mail.svg" class="img-responsive">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/call.svg" class="img-responsive">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 tcenter">
          <img src="assets/svgs/icons/instagram.svg" class="img-responsive">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt7 tcenter">
          Copyright 2021 | Pratik Mangtani
        </h4>
      </div>
    </div>
  </div>
</div>
<!-- /footer -->