<!-- top navigation -->
<app-top-nav></app-top-nav>
<!-- /top navigation -->

<!-- onscroll div 01  -->
<!-- <div class="row onscroll_outer_div">
  <div class="col-md-2 col-sm-2 col-xs-12 p0 onscroll_inner_div">
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#section1">
        <h4 class="txt5">
          contact
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#section2">
        <h4 class="txt5">
          creative
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#about">
        <h4 class="txt5">
          about
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w02">
      <a href="#testimonials">
        <h4 class="txt5">
          testimonials
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#work" class="active">
        <h4 class="txt5">
          work
        </h4>
      </a>
    </div>
  </div>
</div> -->
<!-- /onscroll div 01-->

<!-- onscroll div 02 -->
<!-- <nav class="navbar navbar-fixed-top cnavbar_01">
  <div class="container-fluid">
    <div>
      <div class="row flex_start w100p" >
        <div class="col-md-2 col-sm-2 col-xs-12 onscroll_div_04">
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav dgrid show_nav">
              <li>
                <a href="#section1" class="txt5a">
                  work
                </a>
              </li>
              <li>
                <a href="#section2" class="txt5a">
                  testimonials
                </a>
              </li>
              <li>
                <a href="#section3" class="txt5a">
                  about
                </a>
              </li>
              <li>
                <a href="#section4" class="txt5a">
                  creative
                </a>
              </li>
              <li>
                <a href="#section5" class="txt5a">
                  contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav> -->
<!-- /onscroll div 02  -->

<!-- page content -->
<div class="right_col ml0 bg_purple" role="main">
  <!-- Class -->
  <div class="cw100p cabsolutet">
    <div class="row">
      <div _ngcontent-ehe-c137="" class="col-md-12 col-sm-12 col-xs-12 center_flex">
        <div class="col-md-10 col-sm-9 col-xs-12 p0 rw_01">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>

                <section class="section_mh introduction">
                  <div class="row crow_01">
                    <div class="row mt53px">
                      <div class="col-md-12 col-sm-10 col-xs-10">
                        <h6 class="txt1 mtb0px">
                          Hi / Namaste
                        </h6>
                      </div>
                    </div>

                    <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                      Tooltip on top
                    </button> -->
  
                    <div class="row">
                      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt13">
                          Hi, I am Pratik, a product designer and developer passionate about empowering people with information.
                        </h4>
                      </div>
                    </div>

                    <div class="row abt_01">
                      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt1">
                         <span class="txt1">
                          Currently studying
                         </span>
                         <span class="txt1a">
                          MS HCI at The University of Michigan.
                         </span>
                         <span class="txt1">
                          Previously
                        </span>
                        <span class="txt1b">
                          @ Human Wisdom
                        </span>
                        </h4>
                      </div>
                    </div>

                    <div class="row tcenter">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <a class="sdtvmw_anchor" href="#section1">
                          <i class="fa fa-chevron-down sdtvmw_fa"></i>
                        </a>
                        <h4 class="txt7 sdtvmw">
                          Scroll down to view my work
                        </h4>
                      </div>
                    </div>
                  </div>
                </section>

                <div class="row mt125px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4 mtb0px">
                      WORK
                    </h4>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt5 mtb0px">
                      Selected Projects
                    </h4>
                  </div>
                </div>

                <!-- work -->
                <div id="section1">
                  <div class="mt37px">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <!-- hwp -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p0">
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/work_v4_01.svg" class="img-responsive">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="txt1c mtb10px mt30px">
                                The Human Wisdom Program
                              </h4>
                              <h4 class="txt7 mtb15px">
                                UX Design | UX Research | Development
                              </h4>
                              <h4 class="txt12 mb84px">
                                An E-learning application for mental health and self awareness
                              </h4>
                            </div>
                          </div>
                        </div>
                        <!-- /hwp -->

                        <!-- beyond barcode -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p0">
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/work_v4_02.svg" class="img-responsive">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="txt1c mtb10px mt30px">
                                The Human Wisdom Program
                              </h4>
                              <h4 class="txt7 mtb15px">
                                UX Design | UX Research
                              </h4>
                              <h4 class="txt12 mb84px">
                                An app to educate consumers about toxic ingredients in products
                              </h4>
                            </div>
                          </div>
                        </div>
                        <!-- /beyond barcode -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <!-- voronav -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p0">
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/work_v4_03.svg" class="img-responsive">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="txt1c mtb10px mt30px">
                                Voronav
                              </h4>
                              <h4 class="txt7 mtb15px">
                                Full Stack Development
                              </h4>
                              <h4 class="txt12 mb84px">
                                An Indoor Positioning System.
                              </h4>
                            </div>
                          </div>
                        </div>
                        <!-- /voronav -->

                        <!-- race -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p0">
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <img src="https://pratikmangtani.s3.ap-south-1.amazonaws.com/assets/svgs/tiles/work_v4_04.svg" class="img-responsive">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="txt1c mtb10px mt30px">
                                Race
                              </h4>
                              <h4 class="txt7 mtb15px">
                                UX Design | Development 
                              </h4>
                              <h4 class="txt12 mb84px">
                                An ambulance hailing solution for Ruby Hall Clinic, a chain of hospitals in India.
                              </h4>
                            </div>
                          </div>
                        </div>
                        <!-- /race -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /work -->

                <div class="pagebreak"></div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-nav></app-bottom-nav>
<!-- /footer -->