<!-- top navigation -->
<app-top-nav></app-top-nav>
<!-- /top navigation -->

<!-- onscroll div 01  -->
<!-- <div class="row onscroll_outer_div">
  <div class="col-md-2 col-sm-2 col-xs-12 p0 onscroll_inner_div">
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#section1">
        <h4 class="txt5">
          contact
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#section2">
        <h4 class="txt5">
          creative
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#about">
        <h4 class="txt5">
          about
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w02">
      <a href="#testimonials">
        <h4 class="txt5">
          testimonials
        </h4>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 onscroll_div_w01">
      <a href="#work" class="active">
        <h4 class="txt5">
          work
        </h4>
      </a>
    </div>
  </div>
</div> -->
<!-- /onscroll div 01-->

<!-- onscroll div 02 -->
<nav class="navbar navbar-fixed-top cnavbar_01">
  <div class="container-fluid">
    <div>
      <div class="row flex_start w100p" >
        <div class="col-md-2 col-sm-2 col-xs-12 onscroll_div_04">
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav dgrid show_nav">
              <li>
                <a href="#section1" class="txt5a">
                  work
                </a>
              </li>
              <li>
                <a href="#section2" class="txt5a">
                  testimonials
                </a>
              </li>
              <li>
                <a href="#section3" class="txt5a">
                  about
                </a>
              </li>
              <li>
                <a href="#section4" class="txt5a">
                  creative
                </a>
              </li>
              <li>
                <a href="#section5" class="txt5a">
                  contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- /onscroll div 02  -->

<!-- page content -->
<div class="right_col ml0 bg_purple" role="main">
  <!-- Class -->
  <div class="cw100p cabsolutet">
    <div class="row">
      <div _ngcontent-ehe-c137="" class="col-md-12 col-sm-12 col-xs-12 center_flex">
        <div class="col-md-10 col-sm-9 col-xs-12 p0">
          <div class="x_panel dflexblock_transcript">
            <div class="x_content c_white fwunset pt0px mt0px">
              <form>

                <section class="section_mh introduction">
                  <div class="row">
                    <div class="row mt53px">
                      <div class="col-md-12 col-sm-10 col-xs-10">
                        <h6 class="txt1 mtb0px">
                          Hi / Namaste
                        </h6>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt3">
                          I am Pratik Mangtani, a product designer and developer, passionate about solving human-centered problems through strategic design.
                        </h4>
                      </div>
                    </div>
                  </div>
                </section>

                <div class="row mt125px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4 mtb0px">
                      WORK
                    </h4>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt5 mtb0px">
                      4 selected projects
                    </h4>
                  </div>
                </div>

                <!-- work -->
                <!-- the human wisdom program -->
                <div id="section1">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb34px bg_01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-md-9 col-sm-12 col-xs-12 p0">
                          <h4 class="txt6 mb10px">
                            The Human Wisdom Program
                          </h4>
                          <h4 class="txt7">
                            An E-learning application for mental health and self awareness
                          </h4>
                          <h4 class="txt7">
                            UX Design | UX Research | Development
                          </h4>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 p0 tright btn_align_01">
                          <a routerLink="/frameworks/hwp/">
                            <button type="button" class="btn btn-default btn_read_process">
                              Read Process
                            </button>
                          </a>
                        </div>
                      </div>

                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <hr class="hr_04">
                      </div>

                      <!-- carousel -->
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <section class="carousel-fixed-height">
                            <div id="carousel_01" class="carousel slide pb5px" data-ride="carousel" data-interval="3000000">
                              <div class="carousel-inner ci_02" role="listbox">
                                <div class="item active">
                                  <img src="assets/svgs/tiles/work_01.svg" class="img-responsive">
                                </div>
                                <div class="item cip_01">
                                  <!-- <img src="assets/svgs/tiles/work_02.svg" class="img-responsive"> -->
                                  <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <video controls  class="mw100p" poster="assets/svgs/tiles/work_02.svg" controlsList="nodownload">                                                
                                        <source src="assets/videos/hwp_video.mp4" type="video/mp4">                                              
                                      </video>
                                    </div>
                                  </div>
                                </div>
                                <div class="item">
                                  <img src="assets/svgs/tiles/work_03.svg" class="img-responsive">
                                </div>
                              </div>
                              <a class="left carousel-control" href="#carousel_01" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#carousel_01" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                              </a>
                              <ol class="carousel-indicators cis_01">
                                <li data-target="#carousel_01" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel_01" data-slide-to="1" class="mli"></li>
                                <li data-target="#carousel_01" data-slide-to="2" class=""></li>
                              </ol>
                            </div>
                          </section>

                        </div>
                      </div>
                      <!-- /carousel -->

                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /the human wisdom program -->

                <!-- voronav  -->
                <div id="section1b">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb34px bg_01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-md-9 col-sm-12 col-xs-12 p0">
                          <h4 class="txt6 mb10px">
                            Voronav: Indoor Positioning System
                          </h4>
                          <h4 class="txt7">
                            Indoor Positioning System 
                          </h4>
                          <h4 class="txt7">
                            UX Design | Full Stack Developement
                          </h4>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 p0 tright btn_align_01">
                          <a routerLink="/frameworks/voronav/">
                            <button type="button" class="btn btn-default btn_read_process">
                              Read Process
                            </button>
                          </a>
                        </div>
                      </div>

                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <hr class="hr_04">
                      </div>

                      <!-- carousel -->
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <section class="carousel-fixed-height">
                            <div id="carousel_03" class="carousel slide" data-ride="carousel" data-interval="3000000">
                              <div class="carousel-inner ci_02" role="listbox">
                                <div class="item active img_mt_02">
                                  <img src="assets/svgs/tiles/work_07.svg" class="img-responsive">
                                </div>
                                <div class="item img_mt_02">
                                  <img src="assets/svgs/tiles/work_08.svg" class="img-responsive">
                                </div>
                                <div class="item img_mt_02">
                                  <img src="assets/svgs/tiles/work_09.svg" class="img-responsive">
                                </div>
                              </div>
                              <a class="left carousel-control" href="#carousel_03" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#carousel_03" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                              </a>
                              <ol class="carousel-indicators">
                                <li data-target="#carousel_03" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel_03" data-slide-to="1" class="mli"></li>
                                <li data-target="#carousel_03" data-slide-to="2" class=""></li>
                              </ol>
                            </div>
                          </section>

                        </div>
                      </div>
                      <!-- /carousel -->

                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /voronav -->

                <!-- human wisdom community -->
                <div id="section1d">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb34px bg_01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-md-9 col-sm-12 col-xs-12 p0">
                          <h4 class="txt6">
                            Human Wisdom Community
                          </h4>
                          <h4 class="txt7">
                            An online community for users to discuss mental health
                          </h4>
                          <h4 class="txt7">
                            UX Design | Developement
                          </h4>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 p0 tright btn_align_01">
                          <a href="#">
                            <h4 class="txt7a">
                              Coming Soon
                            </h4>
                          </a>
                        </div>
                      </div>

                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <hr class="hr_04">
                      </div>

                      <!-- carousel -->
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <section class="carousel-fixed-height">
                            <div id="carousel_04" class="carousel slide" data-ride="carousel" data-interval="3000000">
                              <div class="carousel-inner ci_02" role="listbox">
                                <div class="item active">
                                  <img src="assets/svgs/tiles/work_11.svg" class="img-responsive">
                                </div>
                                <!-- <div class="item">
                                  <img src="assets/svgs/background/tiles/carousel/work/work_08.svg" class="img-responsive w100p">
                                </div>
                                <div class="item">
                                  <img src="assets/svgs/background/tiles/carousel/work/work_09.svg" class="img-responsive w100p">
                                </div> -->
                              </div>
                              <!-- <a class="left carousel-control" href="#carousel_04" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#carousel_04" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                              </a> -->
                              <!-- <ol class="carousel-indicators">
                                <li data-target="#carousel_04" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel_04" data-slide-to="1" class="mli"></li>
                                <li data-target="#carousel_04" data-slide-to="2" class=""></li>
                              </ol> -->
                            </div>
                          </section>

                        </div>
                      </div>
                      <!-- /carousel -->

                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /human wisdom community -->

                <!-- race -->
                <div id="section1a">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb34px bg_01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-md-9 col-sm-12 col-xs-12 p0">
                          <h4 class="txt6 mb10px">
                            RACE: Ambulance Hailing Application
                          </h4>
                          <h4 class="txt7">
                            An Ambulance Hailing application for a chain of hospitals
                          </h4>
                          <h4 class="txt7">
                            UX Design | Development
                          </h4>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 p0 tright btn_align_01">
                          <a href="#">
                            <h4 class="txt7a">
                              Coming Soon
                            </h4>
                          </a>
                        </div>
                      </div>

                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <hr class="hr_04">
                      </div>

                      <!-- carousel -->
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <section class="carousel-fixed-height">
                            <div id="carousel_02" class="carousel slide" data-ride="carousel" data-interval="3000000">
                              <div class="carousel-inner ci_01" role="listbox">
                                <div class="item active">
                                  <img src="assets/svgs/tiles/work_04.svg" class="img-responsive">
                                </div>
                                <div class="item">
                                  <img src="assets/svgs/tiles/work_05.svg" class="img-responsive">
                                </div>
                                <div class="item img_mt_02">
                                  <img src="assets/svgs/tiles/work_06.svg" class="img-responsive">
                                </div>
                              </div>
                              <a class="left carousel-control" href="#carousel_02" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#carousel_02" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                              </a>
                              <ol class="carousel-indicators cis_01">
                                <li data-target="#carousel_02" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel_02" data-slide-to="1" class="mli"></li>
                                <li data-target="#carousel_02" data-slide-to="2" class=""></li>
                              </ol>
                            </div>
                          </section>

                        </div>
                      </div>
                      <!-- /carousel -->

                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /race -->

                <!-- qpredict -->
                <div id="section1c">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb34px bg_01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-md-9 col-sm-12 col-xs-12 p0">
                          <h4 class="txt6">
                            QPredict: Virtual Queueing Solution
                          </h4>
                          <h4 class="txt7">
                            A scalable virtual queueing solution
                          </h4>
                          <h4 class="txt7">
                            UX Design | Developement
                          </h4>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 p0 tright btn_align_01">
                          <a href="#">
                            <h4 class="txt7a">
                              Coming Soon
                            </h4>
                          </a>
                        </div>
                      </div>

                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <hr class="hr_04">
                      </div>

                      <!-- carousel -->
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <section class="carousel-fixed-height">
                            <div id="carousel_04" class="carousel slide" data-ride="carousel" data-interval="3000000">
                              <div class="carousel-inner ci_02" role="listbox">
                                <div class="item active">
                                  <img src="assets/svgs/tiles/work_10.svg" class="img-responsive">
                                </div>
                                <!-- <div class="item">
                                  <img src="assets/svgs/background/tiles/carousel/work/work_08.svg" class="img-responsive w100p">
                                </div>
                                <div class="item">
                                  <img src="assets/svgs/background/tiles/carousel/work/work_09.svg" class="img-responsive w100p">
                                </div> -->
                              </div>
                              <!-- <a class="left carousel-control" href="#carousel_04" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#carousel_04" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                              </a> -->
                              <!-- <ol class="carousel-indicators">
                                <li data-target="#carousel_04" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel_04" data-slide-to="1" class="mli"></li>
                                <li data-target="#carousel_04" data-slide-to="2" class=""></li>
                              </ol> -->
                            </div>
                          </section>

                        </div>
                      </div>
                      <!-- /carousel -->

                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /qpredict -->
                <!-- /work -->

                <div class="row mt54px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4 mtb0px">
                      TESTIMONIALS
                    </h4>
                  </div>
                </div>

                <!-- testimonials -->
                <div id="section2" style="min-height: 50vh;">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb34px bg_01">
                      <!-- carousel -->
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <section class="carousel-fixed-height">
                            <div id="carousel_05" class="carousel slide" data-ride="carousel" data-interval="3000000">
                              <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                  <div class="row center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-12 p0">
                                      <div class="col-md-3 col-sm-12 col-xs-12 tleft mm_flex_jc_center">
                                        <img src="assets/svgs/background/tiles/users/mahesh_ramanathan.svg" class="img-responsive">
                                      </div>
                                      <div class="col-md-9 col-sm-12 col-xs-12 mm_mt25px">
                                        <h4 class="txt6 mtb0px">
                                          Mahesh Ramanathan
                                        </h4>
                                        <h4 class="txt6 mtb0px">
                                          Chief Technology Officer at HumanWisdom
                                        </h4>
                                        <h6 class="txt7 mt55px">
                                          Apart from being a wonderful person with an ever positive attitude, Pratik had the curiosity of a kid and maturity of a professional. I dont think impossible exists in his dictionary. he's an amazing team player, always supporting his team mates. His ability to analyse a problem is surprisingly sharp and his learning ability is as impressive. I wish him the very best in every thing he attempts.
                                        </h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="item">
                                  <div class="row center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-12 p0">
                                      <div class="col-md-3 col-sm-12 col-xs-12 tleft mm_flex_jc_center">
                                        <img src="assets/svgs/background/tiles/users/manoj_krishna.svg" class="img-responsive">
                                      </div>
                                      <div class="col-md-9 col-sm-12 col-xs-12 mm_mt25px">
                                        <h4 class="txt6 mtb0px">
                                          Dr Manoj Krishna 
                                        </h4>
                                        <h4 class="txt6 mtb0px">
                                          Founder, Human Wisdom Program 
                                        </h4>
                                        <h6 class="txt7 mt55px">
                                          Pratik worked for the Human Wisdom Project  as a UX Engineer and was also involved in discussions about the user experience. He was very hard working. He had high standards and the quality of work he delivered was excellent. He had a great work ethic - he followed through on all his commitments. If there was a problem, I was impressed with the creative solutions he came up with. I was sorry to see him leave for his studies, and would hire him again if the opportunity arose.
                                        </h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="item">
                                  <div class="row center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-12 p0">
                                      <div class="col-md-3 col-sm-12 col-xs-12 tleft mm_flex_jc_center">
                                        <img src="assets/svgs/background/tiles/users/nidhi_singhvi.svg" class="img-responsive">
                                      </div>
                                      <div class="col-md-9 col-sm-12 col-xs-12 mm_mt25px">
                                        <h4 class="txt6 mtb0px">
                                          Nidhi Singhvi
                                        </h4>
                                        <h4 class="txt6 mtb0px">
                                          Founder, Nidhi Singhvi Design
                                        </h4>
                                        <p class="txt7 mt55px">
                                          Throughout my collaboration with Pratik, I could tell he is passionate about his work, and invests himself quite immersively in the larger goal of the project. He is willing to face challenges that come his way and doesn't back from taking initiative. He is trustworthy about this work and time commitments.
                                        </p>
                                        <p class="txt7">
                                          He's a pleasant person to work with and I look forward to collaborating with him again in the future.
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <a class="left carousel-control" href="#carousel_05" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#carousel_05" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                              </a>
                              <ol class="carousel-indicators">
                                <li data-target="#carousel_05" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel_05" data-slide-to="1" class="mli"></li>
                                <li data-target="#carousel_05" data-slide-to="2" class=""></li>
                              </ol>
                            </div>
                          </section>

                        </div>
                      </div>
                      <!-- /carousel -->
                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /testimonials -->

                <div class="row mt54px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4 mtb0px">
                      ABOUT ME
                    </h4>
                  </div>
                </div>

                <!-- about me -->
                <div id="section3">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb34px bg_01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex flex_block">
                        <div class="col-md-9 col-sm-12 col-xs-12 p0">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <h4 class="txt6 mb15px">
                                Who am I ?
                              </h4>
                              <h6 class="txt7 mb37px">
                                Hi, I am Pratik Mangtani, a product developer and designer, who takes an interdisciplinary approach to design. I have a background in computer engineering. I plan to advance my self-taught journey in design by designing solutions that use information to empower people.
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <h4 class="txt6 mb15px">
                                What I do?
                              </h4>
                              <h6 class="txt7 mb37px">
                                <p>
                                  My goal is to bring empathy to technology. My background in Computer Science enables me to bring a technical point of view to design in addition to advocating for users' needs.
                                </p>
                                <p>
                                  To fulfill these goals, I contribute to both product development and UX design through my work.
                                </p>
                              </h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <h4 class="txt6 mb15px">
                                How the culinary arts made me a better designer?
                              </h4>
                              <h6 class="txt7 mb37px">
                                <p>
                                  Apart from technology, I am passionate about the culinary arts.
                                </p>
                                <p>
                                  My desire to design technology that enhances users’ experience stems from my background in the culinary arts and computer engineering. Culinary arts and Human-Computer Interaction both work towards the common goal of creating a stimulating experience for people. Just like I arduously plan ingredients to create dishes, I break down problems and tailor individual modules to curate effective solutions for customers.
                                </p>
                                <p>
                                  This led me to discover the union of my technical and creative skills through HCI.
                                </p>
                              </h6>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 tright mm_flex_jc_center">
                          <img src="assets/svgs/background/tiles/users/pratik_mangtani.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /about me  -->

                <div class="row mt54px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt4 mtb0px">
                      CREATIVE
                    </h4>
                  </div>
                </div>

                <!-- creative -->
                <div id="section4">
                  <div class="mt37px plr10px">
                    <!-- project 1 -->
                    <div class="row section_row mb34px bg_01">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-md-9 col-sm-12 col-xs-12 p0">
                          <h4 class="txt6">
                            The Culinary Arts | Graphic Design | Photograpgy
                          </h4>
                          <h6 class="txt7">
                            My interests in photography, graphic design, and the culinary arts motivated me to find the union of my technical and creative skills.
                          </h6>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 p0 tright btn_align_01">
                          <a routerLink="/frameworks/creative/">
                            <button type="button" class="btn btn-default btn_read_process">
                              View More
                            </button>
                          </a>
                        </div>
                      </div>

                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <hr class="hr_04">
                      </div>

                      <!-- carousel -->
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <section class="carousel-fixed-height">
                            <div id="carousel_creative" class="carousel slide mb0pxi" data-ride="carousel" data-interval="3000000">
                              <div class="carousel-inner ci_01" role="listbox">
                                <div class="item active cip_01">
                                  <img src="assets/svgs/background/tiles/carousel/creative/creative_01.svg" class="img-responsive">
                                </div>
                                <div class="item cip_01">
                                  <img src="assets/svgs/background/tiles/carousel/creative/creative_02.svg" class="img-responsive">
                                </div>
                                <div class="item cip_01">
                                  <img src="assets/svgs/background/tiles/carousel/creative/creative_03.svg" class="img-responsive">
                                </div>
                              </div>
                              <a class="left carousel-control" href="#carousel_creative" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#carousel_creative" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                              </a>
                              <ol class="carousel-indicators cis_01">
                                <li data-target="#carousel_creative" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel_creative" data-slide-to="1" class="mli"></li>
                                <li data-target="#carousel_creative" data-slide-to="2" class=""></li>
                              </ol>
                            </div>
                          </section>

                        </div>
                      </div>
                      <!-- /carousel -->
                    </div>
                    <!-- /project 1 -->
                  </div>
                </div>
                <!-- /creative -->

                <div class="pagebreak"></div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-nav></app-bottom-nav>
<!-- /footer -->